<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213355676528-64p72jo1ted9qvbtl59p94m72m9kq2or.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213355676528-64p72jo1ted9qvbtl59p94m72m9kq2or</string>
	<key>API_KEY</key>
	<string>AIzaSyB74-IGZK_WWtiYE_rZ9n9R44OhAudjPE8</string>
	<key>GCM_SENDER_ID</key>
	<string>213355676528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-de1f1</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-de1f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213355676528:ios:2b5642f7be7fac291785b5</string>
</dict>
</plist>